:root{
    --clr-neutral-100: hsl(0 0% 100%);
    --clr-neutral-200: hsl(225, 100%, 98%);
    --clr-neutral-400: hsla(223, 23%, 55%, 1);
    --clr-neutral-800: hsl(223, 47%, 23%);

    --clr-primary-200: hsl(225, 100%, 94%);
    --clr-primary-300: hsla(245, 83%, 68%, 1);
    --clr-primary-400: hsl(245, 75%, 52%);



}